<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__info">
                    <h6 class="footer__title">Contact Us</h6>
                    <div class="footer__text">
                        <p>Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy</p>
                    </div>
                    <a class="footer__email" href="mailto:ouremailaddress@email.com">
                        <img class="footer__email-icon" src="assets/images/icons/email-icon.svg" alt="">
                        <span>ouremailaddress@email.com</span>
                    </a>
                    <form class="footer__form" action="/" method="post">
                        <input class="footer__form-input" type="email" placeholder="Subscribe by email">
                        <button class="footer__form-btn" type="submit">Send</button>
                    </form>
                </div>

                <ul class="footer__social">
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <img class="footer__social-icon" src="assets/images/icons/facebook-icon.svg" alt="Facebook>
                            <span class="footer__social-text">Facebook</span>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <img class="footer__social-icon" src="assets/images/icons/instagram-icon.svg" alt="Instagram">
                            <span class="footer__social-text">Instagram</span>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <img class="footer__social-icon" src="assets/images/icons/pinterest-icon.svg" alt="Pinterest">
                            <span class="footer__social-text">Pinterest</span>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <img class="footer__social-icon" src="assets/images/icons/whatsapp-icon.svg" alt="Washington">
                            <span class="footer__social-text">WhatsApp</span>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <img class="footer__social-icon" src="assets/images/icons/youtube-icon.svg" alt="Youtube">
                            <span class="footer__social-text">Youtube</span>
                        </a>
                    </li>
                </ul>

                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Delivery</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">FAQ</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Help</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">More About Us</a>
                        </li>
                    </ul>
                </nav>
            </div><!-- /.footer__inner -->
        </div><!-- /.container -->
    </div><!-- /.footer__content -->

    <div class="footer__copyright">
        <div class="container">
            <span>674 Gonzales Drive.   Washington, PA 15301</span>
        </div>
    </div>
</footer><!-- /.footer -->